<ion-view class="m-login" title="Login">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" scroll="false">
    
    <div class="background-layer"><div class="photo"></div></div>
    <div class="content">
      <img class="logo" src="img/splash/logo.png" />
      <button ng-click="fbLogin()" class="fb-connect-button button button-positive icon-left ion-social-facebook">
        <span>Connect with Facebook</span>
      </button>
    </div> 
    
  </ion-content>
</ion-view>















<!-- <div class="modal">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
    <div>== or login with facebook ==</div>
    <button ng-click="fbLogin()" class="button button-block button-positive">Connect with Facebook</button>
  </ion-content>
</div> -->








